/* Slideshow */
$base-color: red;
$secondary-color: rgba(255, 0, 0, 0.1);
.slideshow {
  margin: 50px auto;
  overflow: hidden;
  max-width: 500px;
  text-align: center;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.25);
  //   height: 100px;
  width: 100%;
  //   border-radius: 40px;
  font-size: 1rem;
}
.slide:nth-of-type(odd) {
  background-color: rgba(255, 0, 0, 0.1);
}
